@keyframes pulse {
    0% {box-shadow: 0 0 0 0 var(--red-500);}
    25% {box-shadow: 0 0 30px 4px var(--red-500);}
    50% {box-shadow: 0 0 0 0 var(--red-500);}
    75% {box-shadow: 0 0 30px 4px var(--yellow-500);}
    100% {box-shadow: 0 0 0 0 var(--yellow-500);}
}
@keyframes pulse-blue {
    0% {box-shadow: 0 0 0 0 var(--blue-600);}
    25% {box-shadow: 0 0 30px 4px var(--blue-600);}
    50% {box-shadow: 0 0 0 0 var(--blue-600);}
    75% {box-shadow: 0 0 30px 4px var(--orange-600);}
    100% {box-shadow: 0 0 0 0 var(--orange-600);}
}
@keyframes clignote {
    0% {opacity: 1;}
    49% {opacity: 1;}
    50% {opacity: 0;}
    99% {opacity: 0;}
    100% {opacity: 1;}
}
  