/* Bouton classique */
a.btn, button.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: .5em;
  padding: .5em 1em;

  background-color: var(--blue-400);
  border: 1px solid var(--blue-700);
  border-radius: 4px;
  color: white;

  font-size: var(--text-L);
  text-align: center;

  transition: all .3s ease-in-out
}

a.btn:focus, a.btn:hover, button.btn:focus, button.btn:hover {
  background-color: var(--blue-700);
  border-color: var(--blue-900);
  text-decoration: none;
}
a.btn.disabled, button.btn.disabled {
  background-color: var(--gray-600);
  border-color: var(--gray-900);
}
a.btn.disabled:hover, button.btn.disabled:hover {
  cursor: not-allowed;
}




/* Bouton icone */
a.btn-icon svg, button.btn-icon svg {
  display: block;
  margin: 0 .25em 0 0;
  padding: 0;

  width: 24px;
  height: 24px;
  fill: currentColor;
}

/* Bouton produit */
a.btn-product {
  margin: 1em auto;
  background-color: var(--blue-600);
  border-color:var(--blue-900);

  transition: all .3s ease-in-out;
}
a.btn-product:focus, a.btn-product:hover {
  background-color: transparent;
  color: var(--red-600);
  border-color: var(--red-900);
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

/* Lien next */
a.link-next {
  margin-top: 1rem;
  display: inline-flex;
  flex-direction: row-reverse;
  color: var(--blue-400);

  background-image: linear-gradient(to left, currentColor, currentColor);
  background-repeat: no-repeat;
  background-size: 0% 6px;
  background-position: left bottom;
  transition: all .3s ease-in-out;  
}
a.link-next svg {
  width: 24px;
  height: auto;
  fill: currentColor;
}
a.link-next:focus, a.link-next:hover {
  color: var(--blue-900);
  background-size: 95% 1px;
  text-decoration: none;
}


/* Lien néon */
a.link-neon {
  position: relative;
  display: inline-block;
  margin: 0;
  padding: 0 .5em .25em 0;

  color: var(--blue-600);
  transition: all .3s ease-in-out;
}
a.link-neon:hover {
  text-decoration: none;
  color: var(--red-700);
}
a.link-neon::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;

  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: all .3s ease-in-out;
}
a.link-neon:hover::after {
  right: unset;
  left: 0;
  width: 100%;
  box-shadow: 0 0 8px 2px currentColor;
}
@media screen and (min-width: 640px) {
  .product:nth-child(even) a.link-neon {
    padding: 0 0 .25em .5em;
  }
  .product:nth-child(even) a.link-neon::after {
    right: unset;
    left: 0;
  }
  .product:nth-child(even) a.link-neon:hover::after{
    left: unset;
    right: 0;
  }
}