/***********/
/** Color **/
/***********/
:root {
    --main-color: #4100FF;
    --facebook: #3C5A9A;
    --youtube: #FD0100;
    --instagram: #9539A6;
    --twitter: #1C9CEA;
    
    /* Gray */
    --gray-100: #F7FAFC;
    --gray-200: #EDF2F7;
    --gray-300: #E2E8F0;
    --gray-400: #CBD5E0;
    --gray-500: #A0AEC0;
    --gray-600: #718096;
    --gray-700: #4A5568;
    --gray-800: #2D3748;
    --gray-900: #1A202C;

    /* Red */
    --red-100: #FFF5F5;
    --red-200: #FED7D7;
    --red-300: #FEB2B2;
    --red-400: #FC8181;
    --red-500: #F56565;
    --red-600: #E53E3E;
    --red-700: #C53030;
    --red-800: #9B2C2C;
    --red-900: #742A2A;

    /* Orange */
    --orange-100: #FFFAF0;
    --orange-200: #FEEBC8;
    --orange-300: #FBD38D;
    --orange-400: #F6AD55;
    --orange-500: #ED8936;
    --orange-600: #DD6B20;
    --orange-700: #C05621;
    --orange-800: #9C4221;
    --orange-900: #7B341E;

    /* Yellow */
    --yellow-100: #FFFFF0;
    --yellow-200: #FEFCBF;
    --yellow-300: #FAF089;
    --yellow-400: #F6E05E;
    --yellow-500: #ECC94B;
    --yellow-600: #D69E2E;
    --yellow-700: #B7791F;
    --yellow-800: #975A16;
    --yellow-900: #744210;

    /* Green */
    --green-100: #F0FFF4;
    --green-200: #C6F6D5;
    --green-300: #9AE6B4;
    --green-400: #68D391;
    --green-500: #48BB78;
    --green-600: #38A169;
    --green-700: #2F855A;
    --green-800: #276749;
    --green-900: #22543D;

    /* Teal */
    --teal-100: #E6FFFA;
    --teal-200: #B2F5EA;
    --teal-300: #81E6D9;
    --teal-400: #4FD1C5;
    --teal-500: #38B2AC;
    --teal-600: #319795;
    --teal-700: #2C7A7B;
    --teal-800: #285E61;
    --teal-900: #234E52;

    /* Blue */
    --blue-100: #EBF8FF;
    --blue-200: #BEE3F8;
    --blue-300: #90CDF4;
    --blue-400: #63B3ED;
    --blue-500: #4299E1;
    --blue-600: #3182CE;
    --blue-700: #2B6CB0;
    --blue-800: #2C5282;
    --blue-900: #2A4365;

    /* Indigo */
    --indigo-100: #EBF4FF;
    --indigo-200: #C3DAFE;
    --indigo-300: #A3BFFA;
    --indigo-400: #7F9CF5;
    --indigo-500: #667EEA;
    --indigo-600: #5A67D8;
    --indigo-700: #4C51BF;
    --indigo-800: #434190;
    --indogo-900: #3C366B;

    /* Purple */
    --purple-100: #FAF5FF;
    --purple-200: #E9D8FD;
    --purple-300: #D6BCFA;
    --purple-400: #B794F4;
    --purple-500: #9F7AEA;
    --purple-600: #805AD5;
    --purple-700: #6B46C1;
    --purple-800: #553C9A;
    --purple-900: #44337A;

    /* Pink */
    --pink-100: #FFF5F7;
    --pink-200: #FED7E2;
    --pink-300: #FBB6CE;    
    --pink-400: #F687B3;
    --pink-500: #ED64A6;
    --pink-600: #D53F8C;
    --pink-700: #B83280;
    --pink-800: #97266D;
    --pink-900: #702459;
}