/******************/
/** variables CSS **/
/******************/
:root {
    /* font-size */
    --text-XS: .75rem;
    --text-S: .875rem;
    --text-M: 1rem;
    --text-L: 1.125rem;
    --text-XL: 1.25rem;
    --text-2XL: 1.5rem;
    --text-3XL: 1.875rem;
    --text-4XL: 2.25rem;
    --text-5XL: 3rem;
    --text-6XL: 4rem;

    /* font-family */
    --current: 'Roboto', Arial, sans-serif;
    --title: 'Montserrat', sans-serif;
    /* 
     * font-family: 'Montserrat', sans-serif;
     * font-family: 'Roboto', sans-serif;
     */
}