/*** FOOTER ***/
footer a.facebook:focus, 
footer a.facebook:hover {
  color: var(--facebook);
}
footer a.instagram:focus, 
footer a.instagram:hover {
  color: var(--instagram);
}
footer a.youtube:focus, 
footer a.youtube:hover {
  color: var(--youtube);
}

/** GROUP-SOCIAL-NEWSLETTER **/
section.group-social-newsletter {
  padding: 2.5rem 24px;
  background-color: hsla(0,0%,0%, .1);
}
.group-social-newsletter ul {
  margin: 0 0 2em 0;
  padding: 0;
  list-style: none;
  
  display: flex;
  justify-content: center;
}
.group-social-newsletter ul li a {
  margin: 0 1em;
  display: flex;
  align-items: center;
  
  color: black;
  transition: all .3s ease-in-out;
}
.group-social-newsletter ul li a:focus, .group-social-newsletter ul li a:hover {
  outline: none;
  text-decoration: none;
}
.group-social-newsletter ul li a svg {
  width:4em;
  height:4em;
  fill:currentColor;
}
.group-social-newsletter ul li a span {
  margin-left: .5em;
}

form.newsletter {
  display: flex;
  justify-content: center;
  align-items: stretch;
}
form.newsletter .wrapper {
  position: relative;
  margin: .25rem 0;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  max-width: 500px;
}
form.newsletter label {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--gray-500);
  transition: all .3s ease-in-out;
}
form.newsletter label svg {
  width: 38px;
  height: auto;
  margin: 0 6px;
  fill: currentColor;
}
form.newsletter #input-newsletter {
  flex: 1 1 auto;
  padding: .5rem 1rem .5rem 2.75rem;
  
  background-color: white;
  border: 1px solid var(--gray-600);
  border-radius: 6px;

  transition: all .3s ease-in-out;
}

form.newsletter #input-newsletter:focus, form.newsletter #input-newsletter:valid {
  outline: none;
  border-color: var(--blue-600);
  color: var(--blue-600);
}
form.newsletter #input-newsletter:-moz-ui-invalid {
  color: var(--red-600);
}

form.newsletter button.btn {
  margin: .25rem 0 .25rem .5rem;
}

form.newsletter #input-newsletter:focus + label, 
form.newsletter #input-newsletter:valid + label {
  color: var(--blue-600);
}
form.newsletter #input-newsletter:-moz-ui-invalid + label {
  color: var(--red-600);
}


/** MAIN-FOOTER **/
section.main-footer {
  position: relative;
  background-color: var(--gray-900);
  color: white;
  font-size: 1.125em;
}
.main-footer [class^="wrapper"] {
  padding: 2.5rem 4.5rem 1rem 4.5rem;
}
.main-footer a {
  color: var(--blue-600);
}
.main-footer a:focus, .main-footer a:hover {
  color: white;
}
.main-footer p {
  margin: 0 0 1em 0;
  padding: 0;
}

.main-footer .group-footer-links {
  margin: .5em 0 1.5em 0;
  display: flex;
  justify-content: space-between;
}
.main-footer ul.footer-links {
  list-style: none;
  margin: 0 1em 0 0;
  padding: 0;
}
.main-footer ul.footer-links:last-child {
  margin: 0;
}
.main-footer ul.footer-links a {
  display: inline-block;
  padding: 4px 0;
}

.main-footer .means-of-payment {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: .5em;
}
.main-footer .means-of-payment span {
  padding-right: .5em;
}
.main-footer .means-of-payment ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.main-footer .means-of-payment svg {
  height: 2.5em;
  fill: white;
  vertical-align: middle;
}

.main-footer ul.social-logos {
  position: absolute;
  right: 6.666%;
  bottom: .7rem;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
ul.social-logos a {
  display: block;
  line-height: 1;
  margin-left: 4px;
  color: white;
}

.main-footer ul.social-logos li a svg {
  width: 2rem;
  fill: currentColor;
  transition: all .3s ease-in-out;
}
.main-footer p.copyright {
  margin: 0;
  text-align: center;
}

@media screen and (max-width: 640px) {
  footer h2, footer h3 {
    text-align: left;
  }
  footer h2 {
    font-size: var(--text-2XL);
  }
  footer h3 {
    font-size: var(--text-XL);
  }
  .group-social-newsletter ul {
    margin-bottom: 1em;
  }
  .group-social-newsletter ul li a {
    margin: 0 .5em;
  }
  .group-social-newsletter ul li:first-child a {
    margin-left: 0;
  }
  .group-social-newsletter ul li a svg {
    width:3em;
    height:3em;
  }
  .group-social-newsletter ul li a span {
    display: none;
  }
  section.group-social-newsletter {
    padding: 1rem;
  }
  section.main-footer {
    font-size: 1em;
  }
  .main-footer [class^="wrapper"] {
    padding: 1rem;
  }
  .main-footer .group-footer-links {
    display: block;
  }
  .main-footer ul.footer-links {
    margin: 1em;
  }
  .main-footer ul.footer-links:last-child {
    margin: 1em;
  }
  .main-footer ul.social-logos {
    position: static;
    justify-content: center;
    margin:1em 0;
  }
}

@media screen and (max-width: 480px) {
  form.newsletter {
    flex-direction: column;
    align-items: flex-end;
  }
  form.newsletter .wrapper {
    width: 100%;
  }
}