
/* HEADER */
header {
    position: relative;
    background-color: black;
    color: white;
}
header .inner-header {
  display: block;
  position: relative;
}
header h2 {
    position: absolute;
    right: 0;
    bottom: 32px;
    left: 0;

    padding: .5em 0;

    background-color: hsla(0,0%,0%, .5); 
    color: white;

    font-family: var(--title);
    font-size: var(--text-4XL);
    line-height: 1.3;
    text-align: center;
    text-transform: uppercase;
}
header video {
  display: block;
  max-width: 100%;
  height: auto;
}
header img.background-header {
  display: block;
  width: 100%;
  height: auto;
}

/** GENERAL-NAV **/
nav a {
    color: white;
    transition: all .3s ease-in-out;
}
nav a:focus, nav a:hover {
    outline: none;
    color: var(--blue-600);
    text-decoration: none;
    text-shadow: 0 0 6px var(--bleu-400);
}
nav a.notification {
    position: relative;
}
nav a.notification span {
    position: absolute;
    top: 5px;
    right: 0;
    width: 20px;
    height: 20px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    color: var(--blue-600);
    background-color: white;
    border: 2px solid currentColor;
    border-radius: 50%;

    transition: all .3s ease-in-out;
}
nav a.notification:focus span, nav a.notification:hover span {
    color: var(--red-600);
}


/** DESKTOP-NAV **/
header .desktop-nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
  }
.desktop-nav .second-nav {
    font-size: .85em;
}
.desktop-nav .second-nav ul {
    display: flex;
    justify-content: flex-end;
    list-style: none;

    margin: 0;
    padding: 0;
}
.desktop-nav .second-nav ul li {
    margin: 0 1em 0 0;
}
.desktop-nav .second-nav a {
  display: flex;
  align-items: center;
  padding: .5em;
}
.desktop-nav .second-nav a svg {
  height: 2em;
  fill: currentColor;
  margin-left: .5em;
}

.desktop-nav .main-nav {
    background-color: hsla(0,0%,0%, .5);
    font-size: 1.2em;
}
.main-nav [class^="wrapper"] {
  display: flex;
  align-items: stretch;
  padding-right: 181px;
}
.desktop-nav .main-nav h1 {
  margin: 0;
}
.desktop-nav .main-nav h1 a {
  display: block;
  background-color: transparent;
  color: white;
  line-height: 1;
}
.desktop-nav .main-nav h1 a svg {
  fill: currentColor;
  height: 2rem;
  margin: .28em .5em .22em .5em;
}
.desktop-nav .main-nav h1 a:focus, .main-nav h1 a:hover {
  background-color: white;
  color: black;
}
.desktop-nav .main-nav ul {
    margin: 0 auto;
    padding: 0;
    list-style: none;
    flex: 0 1 auto;
    display: flex;
    justify-content: space-around;
}
.desktop-nav .main-nav ul li {
    display: flex;
}
.desktop-nav .main-nav ul li a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 1em;

    line-height: 1.1;
    text-align: center;

    background-image: linear-gradient(to left, currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 0% 6px;
    background-position: left bottom;
    transition: all .3s ease-in-out;    
}
.desktop-nav .main-nav ul li a:focus, .desktop-nav .main-nav ul li a:hover {
    background-size: 100% 2px;
}

/** MOBILE-NAV **/
.mobile-nav {
    display: none; /* Désactivé par défaut */

    position: sticky;
    top: 0;
    z-index: 999;
    
    background-color: var(--gray-700);
    color: white;
}
.mobile-nav .wrapper {
  display: flex;
  justify-content: space-between;
  height: 48px;
  background-color: var(--gray-900);
}
.mobile-nav .wrapper svg {
  width: auto;
  height: 32px;
  fill: currentColor;
}
.mobile-nav a.btn-toggle-menu {
  position: relative;
  flex: 0 0 auto;
  color: white;
  height: inherit;
  padding: 8px 8px 8px 48px;
  display: flex;
  align-items: center;

  overflow: hidden;
}
.mobile-nav a.btn-toggle-menu:focus, .mobile-nav a.btn-toggle-menu:hover {
    text-decoration: none;
}
.mobile-nav a.btn-toggle-menu svg {
  position: absolute;
  left: 8px;
  flex: 0 0 auto;
}
.mobile-nav a.btn-toggle-menu svg.off {
  margin-left: 0;
  opacity: 1;
  transition: all .5s ease-in-out;
}
.mobile-nav a.btn-toggle-menu svg.on {
  margin-left: -100%;
  opacity: 0;
  transition: all .5s ease-in-out;
}
.mobile-nav a.btn-toggle-menu.on svg.off {
  margin-left: -100%;
  opacity: 0;
}
.mobile-nav a.btn-toggle-menu.on svg.on {
  margin-left: 0;
  opacity: 1;
}

.mobile-nav h1 {
  height: inherit;
  margin: 0;
}
.mobile-nav h1 a {
    padding: 0 .25em;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    transition: all .3s ease-in-out;
}
.mobile-nav h1 a:focus, .mobile-nav h1 a:hover {
    background-color: white;
    color: black;
}
.mobile-nav h1 a svg {
    fill: currentColor;
}
.mobile-nav .second-nav {
    height: inherit;
}
.mobile-nav .second-nav ul {
  height: inherit;
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}
.mobile-nav .second-nav ul li {
  height: inherit;
  margin-right: .5em;
}
.mobile-nav .second-nav a {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  padding: .5em;
}

.mobile-nav .main-nav {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  transition: all .5s ease-in-out;
}
.mobile-nav .main-nav.on {
  opacity: 1;
  max-height: 220px;
}
.mobile-nav .main-nav ul {
  margin: 0;
  padding: 1px;
  list-style: none;
}
.mobile-nav .main-nav ul li {
  margin: 8px 0;
}
.mobile-nav .main-nav a {
    display: flex;
    align-items: center;
    padding: .25em 1em;
    overflow: hidden;
}
.mobile-nav .main-nav a svg {
    width: 24px;
    height: auto;
    fill: currentColor;
    margin-right: 1em;
    margin-left: -40px;

    transition: all .3s ease-in-out;
}
.mobile-nav .main-nav a:focus svg, .mobile-nav .main-nav a:hover svg {
    margin-right: 0;
    margin-left: -10px;
}



@media screen and (max-width: 1080px) {
  header h2 {
    font-size: 3.2vw;
  }
  .main-nav [class^="wrapper"] {
    padding-right: 0;
  }
}
/* Desktop nav to Mobile nav */
@media screen and (max-width: 800px) {
  .mobile-nav {
    display: block;
  }
  header .desktop-nav {
    display: none;
  }
  header h2 {
    top: 0;
    bottom: unset;
    margin: 0;
  }
}
@media screen and (max-width: 640px) {
  header img.background-header {
    display: block;
    width: 100%;
    height: 320px;
    object-fit: cover;
  }
}
@media screen and (max-width: 380px) {
  .mobile-nav a.btn-toggle-menu {
    padding: 8px 8px 8px 32px;
  }
  .mobile-nav a.btn-toggle-menu svg {
    left: 0;
  }
  .mobile-nav .wrapper svg {
    height: 26px;
  }
  
}