[class*="wrapper"] {
    margin: 0 auto;
    position: relative;
}
.wrapper1920 {
    max-width: 1920px;
}
.wrapper1440 {
    max-width: 1440px;
}
.wrapper1080 {
    max-width: 1080px;
}

main > section {
    padding: 2.5rem 24px;
}
@media screen and (max-width: 640px) {
    main > section {
        padding: 1rem 12px;
    }
}