section.tutorial {
  margin: 0 auto;
  padding: 2.5rem 16px;
  max-width: 740px;
}
.tuto-step-group {
  padding-top: 15px;
  background: url(../img/step-light.png) no-repeat center top;
  background-size: 100% 100%;
}
.tuto-step {
  padding: 0 0 20px 0;
  display: flex;
  align-items: center;
}
.tuto-step-img {
  margin: 0 1em 0 0;
  background-color: var(--gray-400);
  box-shadow: 0 0 12px 4px var(--red-700);
}
.tuto-step-text {
  max-width: 315px; 
}
.tuto-step-text p {
  margin: 0;
}
.tuto-step:nth-child(even) {
  flex-direction: row-reverse;
}
.tuto-step:nth-child(even) .tuto-step-img {
  margin: 0 0 0 1em;
}
.tuto-step:nth-of-type(2) .tuto-step-img {
  box-shadow: 0 0 12px 4px var(--red-600);
}
.tuto-step:nth-of-type(3) {
  margin-left: 3rem;
}
.tuto-step:nth-of-type(3) .tuto-step-img {
  box-shadow: 0 0 12px 4px var(--orange-700);
}
.tuto-step:nth-of-type(4) {
  margin-right: 3rem;
}
.tuto-step:nth-of-type(4) .tuto-step-img {
  box-shadow: 0 0 12px 4px var(--orange-600);
}

section.full-tutorial {
  padding: 2.5rem 0;
}
.full-tutorial p {
  margin: 1em auto;
  padding: 0 16px;
  max-width: 652px;
  font-size: var(--text-XL);
  text-align: center;
}
.full-tutorial-img {
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
}
.full-tutorial-img img {
  flex: 0 1 auto;
  width: calc(50% - 48px);
  height: auto;

  margin: 1em 24px;
}

@media screen and (max-width: 640px) {
  .tuto-step-group {
    background: none;
  }
  .tuto-step:nth-of-type(3) {
    margin-left: 0;
  }
  .tuto-step:nth-of-type(4) {
    margin-right: 0;
  }
  .full-tutorial p {
    font-size: var(--text-M);
  }
  .full-tutorial-img {
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
  }

  .full-tutorial-img img {
    width: 100%;
    max-width: 320px;
  }
}
@media screen and (max-width: 480px) {
  .tuto-step:nth-child(even) {
    flex-direction: row;
  }
  .tuto-step:nth-child(even) .tuto-step-img {
    margin: 0 1em 0 0;
  }
}