.product-group {

}
.product-group-home {
    margin: 0;
    padding: 0;
}
.product-list {
    background-color: black;
}
.product-group-home h3 {
    width: 100%;
}
.product {
    position: relative;
    margin-bottom: 192px;
    background-color: black;
}
.product-group-home .product {
    margin-bottom: 2.5rem;
} 
.product:last-of-type {
    margin-bottom: 0;
}

a.product-logo {
    display: block;
}
a.product-logo img {
    display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
}

.product-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem 24px 0 24px;

    display: flex;
    flex-direction: column;

    color: white;
}
h2.product-title {
    margin: 0;
    text-align: left;
}
.product-review-container {
    display: flex;
    align-items:flex-end;
    font-size: var(--text-XS);
}
.product-review-container .star {
    display: flex;
    margin-right: .5em;
}
.product-review-container .star svg {
    display: block;
    width: 24px;
    fill: var(--orange-400);
}
.product-price {
    color: var(--blue-600);
    font-size: var(--text-3XL);
    font-weight: bold;
}
.product-price del {
    position: relative;
    color: var(--red-600);
    text-decoration: none;
    margin-right: .25em;
    font-size: var(--text-2XL);
}
.product-price del::after {
    content: '';
    position: absolute;
    height: 3px;
    left: -4px;
    right: -4px;
    top: 50%;
    transform: rotate(-8deg) translateY(-50%);
    background-color: currentColor;
    box-shadow: 0 0 4px 0 black;
}

.product-description {
    margin: auto 0;
    max-width: 360px;
}
.product-description p {
    font-size: var(--text-L);
    font-style: italic;
    text-shadow: 0 0 6px black;
}
.product-color {
    order: 1;
    font-size: var(--text-2XL);
    text-align: center;

    margin: 0 auto -90px auto;
}
.product-color ul {
    margin: 0;
    padding: 0;
    list-style: none;

    display: flex;
    justify-content: center;
}
.product-color ul li {
    width: 16.666vw;
    height: 16.666vw;
    max-width: 180px;
    max-height: 180px;
    margin: 0 8px;
    
    background-color: var(--gray-400);
    border: 4px solid var(--gray-600);
    box-shadow: 0 0 12px 0 var(--gray-900);
}
.product-try {
    margin: 0 0 2rem 0;
}
.product-color + .product-try {
    margin: 0;
}

/* PRODUCTS COLOR */
.product-color .black {
    background-color: var(--gray-700);
    border-color: var(--gray-900);
}
.product-color .blue {
    background-color: var(--blue-400);
    border-color: var(--blue-600);
}
.product-color .gray {
    background-color: var(--gray-400);
    border-color: var(--gray-600);
}
.product-color .orange {
    background-color: var(--orange-400);
    border-color: var(--orange-600);
}
.product-color .red {
    background-color: var(--red-400);
    border-color: var(--red-600);
}
.product-color .white {
    background-color: white;
    border-color: var(--gray-200);
}
.product-color .yellow {
    background-color: var(--yellow-400);
    border-color: var(--yellow-600);
}


@media screen and (min-width: 640px) {
    .product:nth-child(even) .product-content {
        align-items: flex-end;
        text-align: right;
    }
    .product:nth-child(even) h2.product-title {
        text-align: right;
    }

    .product:nth-child(even) a.link-neon {
        padding: 0 0 .25em .5em;
    }
}
@media screen and (max-width: 1080px) {
    .product-color {
        margin-bottom: calc(-16.666vw / 2);
    }
    .product-color ul li {
        margin: 0 .74vw;
        box-shadow: 0 .37vw 1.111vw 0 var(--gray-600);
    }
}

@media screen and (max-width: 640px) {
    .product-group-home {
        margin: 1rem 0;
    }
    .product {
        position: relative;
        margin-bottom: 2.5rem;
        padding: 1px;
    }
    .product-group-home h3 {
        text-align: left;
    }
    a.product-logo img {
        height: auto;
        object-fit: unset;
    }
    
    .product-content {
        position: static;
        padding: 1rem;
        display: block;
        text-align: left;
    }
    .product-head {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
    }
    .product-content h2 {
        font-size: var(--text-2XL);
        margin: 0;
        text-align: left;
    }
    .product-review-container .star svg {
        width: 20px;
    }
    .product-price {
        font-size: var(--text-2XL);
        text-align: right;
    }
    .product-price del {
        font-size: var(--text-L);
    }
    .product-description {
        margin: auto 0;
        max-width: 100%;
        text-align: left;
    }
    .product-description p {
        font-size: var(--text-M);
        text-shadow: none;
    }

    .product-description > a.btn-product {
        /* display: none; */
    }
    .product-group-home .product-description > a.btn-product {
        display: inline-block;
        margin-left: 0;
    } 
    .product-color {
        margin-bottom: 0;
        font-size: var(--text-M);
        display: flex;
        align-items: center;
        order: 0;
    }
    .product-color ul {
        margin-left: .25em;
    }
    .product-color ul li {
        border-radius: 50%;
        width: 1.5em;
        height: 1.5em;
        margin: 0 .1em; 
        box-shadow: none;
        border-width: 2px;
    }
    .product-try, .product-color + .product-try {
        margin: 1.5rem 0 0 0;
    }
    .product .product-try a.btn-trait {
        padding: 0 0 .25em .5em;
    }
    .product .product-try a.btn-trait::after {
        right: unset;
        left: 0;
    }
    .product .product-try a.btn-trait:hover::after {
        right: 0;
        left: unset;
    }
}