/** FIL-ARIANE **/
section.fil-ariane {
    padding: 1rem 24px;
}
.fil-ariane a {
    color: inherit;
}
.fil-ariane a:hover {
    color: inherit;
}


/** PRODUCT-CONTAINER **/
section.product-container {
    padding: 0 24px;
}
section.product-container [class^="wrapper"] {
    display: flex;
    justify-content: center;
}

/* product-pictures */
.product-pictures {
    flex: 0 1 600px;
    max-width: 600px;
    margin-right: 40px;
}
.product-main-picture {
    max-width: 100%;
}
.product-pictures a {
    display:block;
    box-shadow: 0 0 0 0 var(--gray-300);

    transition: all .3s ease-in-out;
}
.product-pictures a:hover {
    text-decoration: none;
    box-shadow: 0 0 12px 0 var(--gray-500);
}
.product-pictures a img {
    display:block;
    width: 100%;
    height: auto;
}
.product-secondary-picture {
    margin:20px 0 -10px 0;
    display: flex;
    justify-content: space-between;
}
.product-secondary-picture a {
    margin: 10px 6px;
}

/* product-conversion-container */
.product-conversion-container {
    display: flex;
    flex-direction: column;
    width: 408px;
    padding: 44px;
    background-color: var(--gray-200);
}
.product-conversion-header {
    margin-bottom: 2rem;
}
h1.product-conversion-title {
    margin: 0;
    font-size: var(--text-2XL);
    line-height: 1.2;
    text-align: left;
}
.product-reference {
    color: var(--gray-600);
}
.product-review-container a {
    color: var(--orange-400);
    text-decoration: underline;
}
.product-review-container a:hover {
    color: var(--gray-900);
    text-decoration: none;
}

form.product-order {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}

.product-configuration {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
}
.product-configuration .form-button {
    margin-top: auto;
    display: flex;
    flex-direction: column;
}

button.add-card, button.quick-buy {
    width: 100%;
    height: 60px;
    margin: .5em 0;
    font-size: var(--text-XL);
}
button.quick-buy {
    background-color: var(--orange-400);
    border-color: var(--orange-600);
}
button.quick-buy:focus, button.quick-buy:hover {
    background-color: var(--orange-600);
    border-color: var(--orange-900);
}
button.add-card:disabled, button.quick-buy:disabled {
    cursor: not-allowed;
    background-color: var(--gray-600);
    border-color: var(--gray-900);
}


a.add-wishlist {
    margin: .5em 0 0 auto;
    padding: .5em 0;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

    background-image: linear-gradient(to left, currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 100% 1px;
    background-position: right bottom .25em;
    color: var(--gray-500);
    transition: all .3s ease-in-out;
}
a.add-wishlist svg {
    width: 2em;
    fill: currentColor;
    margin-top: -.5em;
}
a.add-wishlist:focus, a.add-wishlist:hover {
    text-decoration: none;
    outline: none;
    color: var(--blue-600);
    background-size: 0 1px;
}

.product-configuration > div {
    margin-bottom: 2rem;
}

h2.product-configuration-title {
    margin: 0 0 .75em 0;
    font-size: var(--text-2XL);
    text-align: left;
}
.product-configuration-color ul.color-list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
}

.product-configuration-color ul.color-list li {
    margin-right: 8px;
}

.product-configuration-color ul.color-list li label {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    width: 48px;
    height: 48px;
    margin: 0;
    border-radius: 50%;

    background-color: var(--gray-700);
    border: 1px solid var(--gray-900);
    color: white;
}
.product-configuration-color ul.color-list li label:focus-within, .product-configuration-color ul.color-list li label:hover {
    box-shadow: 0 0 12px 0 var(--gray-600);
}
.product-configuration-color ul.color-list li label svg {
    fill: currentColor;
    display: none;
}
.product-configuration-color ul.color-list li label.on svg {
    display: block;
}
.product-configuration-color ul.color-list li label input {
    position: absolute;
    opacity: 0;
    z-index: -1;
}
.product-configuration-color ul.color-list li label.black {
    background-color: var(--gray-700);
    border-color: var(--gray-900);
}
.product-configuration-color ul.color-list li label.blue {
    background-color: var(--blue-400);
    border-color: var(--blue-600);
}
.product-configuration-color ul.color-list li label.red {
    background-color: var(--red-400);
    border-color: var(--red-600);
}
.product-configuration-color ul.color-list li label.yellow {
    background-color: var(--yellow-400);
    border-color: var(--yellow-600);
}
.product-configuration-color ul.color-list li label.orange {
    background-color: var(--orange-400);
    border-color: var(--orange-600);
}
.product-configuration-color ul.color-list li label.off {
    opacity: .25;
}
.product-configuration-color ul.color-list li label.off:hover {
    opacity: 1;
}


.product-configuration-quantity {
    display: flex;
    justify-content: center;
    font-size: var(--text-XL);
}
.product-configuration-quantity input[type="number"] {
    width: 60px;
    height: 40px;
    border: 1px solid var(--gray-900);
    text-align: center;
}
.product-configuration-quantity button {
    margin: 0;
    padding: 0;
    width: 40px;
    border: none;
    background-color: var(--gray-400);
    border: 1px solid var(--gray-900);
    font-size: var(--text-2XL);

    transition: all .3s ease-in-out;
}
.product-configuration-quantity button.quantity-plus:focus, .product-configuration-quantity button.quantity-plus:hover {
    background-color: var(--green-400);
    border-color: var(--green-700);
    color: white;
}
.product-configuration-quantity button.quantity-minus:focus, .product-configuration-quantity button.quantity-minus:hover {
    background-color: var(--red-400);
    border-color: var(--red-700);
    color: white;
}

/** SHARE-PRODUCT **/
section.share-product {
    background-color: hsla(0,0%,0%, .1);
}
.share-product ul {
    margin: 0 0 2em 0;
    padding: 0;
    list-style: none;
    
    display: flex;
    justify-content: center;
}
.share-product ul li a {
    margin: 0 1em;
    display: flex;
    align-items: center;

    color: black;
    transition: all .3s ease-in-out;
}
.share-product ul li a:focus, .share-product ul li a:hover {
    outline: none;
    text-decoration: none;
}
.share-product ul li a svg {
    width:4em;
    height:4em;
    fill:currentColor;
}
.share-product ul li a span {
  margin-left: .5em;
}
.share-product a.facebook:focus, 
.share-product a.facebook:hover {
  color: var(--facebook);
}
.share-product a.instagram:focus, 
.share-product a.instagram:hover {
  color: var(--instagram);
}
.share-product a.twitter:focus, 
.share-product a.twitter:hover {
  color: var(--twitter);
}


/** PRODUCT-ADVANTAGE **/
section.product-advantage {
    padding: 2.5rem 0;
}
.product-advantage [class^="wrapper"] {
    display: flex;
    justify-content: space-between;
}
.product-advantage-item {
    margin: 0 12px;
}
.product-advantage-item img {
    display: block;
    width: 100%;
    height: auto;
}
.product-advantage-item p {
    margin: 20px 0 0 0;
    text-align: center;
}

section.specification {
    margin: 0;
    padding: 2.5rem 24px;
}
.specification ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1080px;
    margin: 20px auto 0 auto;
    padding: 0;
}
.specification ul li:not(:first-child):before {
    content: '/';
    margin: 0 12px;
}

/** QUESTIONS **/
section.questions {
    margin: 0;
    padding: 2.5rem 12px;
}
.accordion {
    margin: 0 auto;
    max-width: 800px;

    border: 1px solid var(--gray-900);
}
.accordion-item {
    padding: 12px;
    background-color: var(--gray-700);
    border-bottom: 1px solid var(--gray-900);
    color: white;
    transition: all .5s ease-in-out;
}
.accordion-item:last-child {
    border: none;
}
.accordion-item-title {
    display: flex;
    align-items: flex-start;
    color: var(--blue-100);
}
.accordion-item-title:hover {
    cursor: pointer;
}
.accordion-item-title h5 {
    flex: 1 1 auto;
    margin: 0;
    
}
.accordion-item-title .accordion-button svg {
    width: 24px;
    height: 24px;
    fill: currentColor;
    transition: all .5s ease-in-out;
}
.accordion-item.on {
    background-color: var(--gray-200);
}
.accordion-item.on .accordion-item-title {
    color: var(--blue-700);
}
.accordion-item.on .accordion-button svg {
    transform: rotate(-180deg);
}
.accordion-item.on .accordion-item-content {
    color: var(--gray-800);
}

.accordion-btn-group {
    margin: 1rem auto 0 auto;
    max-width: 800px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.accordion-btn-group a.btn {
    flex: 1 1 240px;
    max-width: 300px;
}


/** RATING **/
.rating [class^="wrapper"] {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0 30px;
    grid-template-rows: min-content 1fr;
}
.rating .average {
    grid-column: 1 / 2;
    grid-row: 1 ;
    font-size: var(--text-L);
    font-weight: bold;
}
.rating-filter-item {
    display: flex;
    margin: .5rem 0;
}
.rating-note {
    width: 20px;
}
.rating-progress-bar-container {
    width: 100%;
    background-color: var(--gray-300);
    border-radius: 4px;
    overflow: hidden;
}
.rating-progress-bar {
    height: 100%;
    background-color: var(--blue-400);
}

.rating .rating-list {
    grid-column: 2 / 3;
    grid-row-start: 1;
    grid-row-end: span 2;
}
.rating-item {
    padding: 12px 0;
    background-image: linear-gradient(to right, currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: calc(100% - 60px) 1px;
    background-position: center bottom;
}
.rating-item:first-child {
    padding-top:0;
}

.rating-item-author {
    display: flex;
    flex-wrap: wrap;
    font-size: var(--text-L);
    font-weight: bold;
}
.rating-item-author span {
    display: inline-flex;
    margin-left: .5em;
    color: var(--green-400);
    font-weight: normal;
}
.rating-item-author span svg {
    width: 24px;
    height: auto;
    fill: currentColor;
}
.rating-item-content {
    margin: 8px 0;
    color: var(--gray-700);
}
.rating-item-footer {
    margin: 0 .5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.rating-item-footer > a {
    color: var(--gray-500);
    transition: color .3s ease-in-out;
}
.rating-item-footer > a:focus, .rating-item-footer > a:hover {
    color: var(--gray-900);
    text-decoration: none;
}
.rating-item-vote {
    display: flex;
    align-items: center;
    margin: -6px 0;
    color: var(--blue-600);
}
.rating-item-vote svg {
    width: 24px;
    margin: .25em;
    fill: currentColor;
}
.rating-item-vote .rating-negative svg {
    transform: rotate(180deg);
}
.rating-positive:focus, .rating-positive:hover {
    color: var(--green-400);
} 
.rating-negative:focus, .rating-negative:hover {
    color: var(--red-400);
}
.rating-read-all {
    justify-items: end;
    justify-self: end;
}

/** CROSS-SELL **/
section.cross-sell {
    padding: 2.5rem 24px;
}
.cross-sell [class^="wrapper"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    column-gap: 32px;
}
.cross-sell-product {
    margin: 0 auto;
    font-size: var(--text-L);
    text-align: center;
}
.cross-sell-product a {
    color: var(--gray-900);
}
.cross-sell-product a img{
    max-width: 100%;
    height: auto;
    border: 2px solid var(--gray-300);

    transition: all .3s ease-in-out;
}
.cross-sell-product a:focus img, .cross-sell-product a:hover img {
    box-shadow: 0 0 12px 0 var(--gray-500);
}
.cross-sell-product-name-and-price {
    display: inline-block;
    padding: 8px 20px;
    background-color: var(--gray-300);
    text-align: center;
    transform: translateY(-50%);
    transition: all .3s ease-in-out;
}
.cross-sell-product-name-and-price strong {
    margin-left: 30px;
}
.cross-sell-product a:hover .cross-sell-product-name-and-price {
    background-color: var(--blue-400);
    color: white;
}
.cross-sell-product-name {
    margin-right: 20px;
}


/* Slider SLICK JS */

.product-secondary-picture .slick-prev, .product-secondary-picture .slick-next {
  background:rgba(255,255,255, .25);
  color: var(--gray-900);
  z-index: 10;
  top: 10px;
  bottom: 10px;
}

@media screen and (max-width: 1080px) {
    .product-pictures {
        flex: 0 1 400px;
        max-width: 400px;
        margin-right: 20px;
    }
}

@media screen and (max-width: 800px) {
    section.product-container [class^="wrapper"] {
        display: block;
    }
    .product-pictures {
        display: block;
        flex: 1 1 auto;
        max-width: none;
        width: 100%;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .product-conversion-container {
        margin: 0 auto;
        width: 100%;
        max-width: 600px;
    }

    .product-advantage [class^="wrapper"] {
        display: block;
    }
    .product-advantage-item p {
        text-align: justify;
    }
    .product-advantage-item:not(:last-child) {
        margin-bottom: 2rem;
    }
    
}
@media screen and (max-width: 640px) {
    section.fil-ariane {
        padding: 1rem 12px;
    }
    section.product-container {
        padding: 0 12px;
    }

    section.share-product {
        padding: 1rem 12px;
    }
    .share-product ul {
        margin-bottom: 1em;
    }
    .share-product ul li a {
        margin: 0 .5em;
    }
    .share-product ul li:first-child a {
        margin-left: 0;
    }
    .share-product ul li a svg {
        width:3em;
        height:3em;
    }
    .share-product ul li a span {
        display: none;
    }

    section.product-advantage {
        padding: 1rem 0;
    }
    section.specification {
        padding: 1rem 12px;
    }
    .specification ul {
        display: block;
    }
    .specification ul li {
        margin: 8px 0;
    }
    .specification ul li:before {
        content: '/';
        margin: 0 12px;
    }
    section.rating {
        padding: 1rem 12px;
    }
    .rating [class^="wrapper"] {
        display: block;
    }
    .rating .average {
        font-size: var(--text-S);
        margin-bottom: 2rem;
    }

    section.cross-sell {
        padding: 1rem 12px;
    }

}