@charset "UTF-8";

@import url('reset.css');
@import url('font.css');
@import url('color.css');
@import url('animations.css');
@import url('layout.css');
@import url('btn-link.css');
@import url('header-nav.css');
@import url('footer.css');

/* Pages */
@import url('index.css');
@import url('page-comentcamarche.css');
@import url('product.css');
@import url('product-buy.css');

html {
  scroll-behavior: smooth;
}
body {
    background-color: var(--gray-100);
    color: var(--gray-900);
    font-family: var(--current);
}

.announcement {
  background-color: white;
  padding: 12px 0;
  line-height: 1.2;
  text-align: center;
}
ul.announcement-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

main h1 {
  margin: 1em 0;
  font-family: var(--title);
  font-size: var(--text-4XL);
  text-align: center;
  text-transform: uppercase;
}
main h2, footer h2 {
  margin: 0 0 1em 0;

  font-family: var(--title);
  font-size: var(--text-3XL);
  font-variant: small-caps;
  line-height: 1.2;
  text-align: center;
}
main h3, footer h3 {
  margin: 0 0 1em 0;

  font-family: var(--title);
  font-size: var(--text-2XL);
  text-align: center;
}
main h4 {
  font-family: var(--title);
  font-size: var(--text-XL);
}
main h5 {
  font-family: var(--title);
  font-size: var(--text-L);
  font-weight: 500;
}
footer h3 {
  margin: 0;
  font-size: var(--text-2XL);
  font-weight: normal;
  letter-spacing: .05em;
}
p.intro {
    margin: 0;
    padding: 2.5em 4em;
    font-size: var(--text-2XL);
    text-align: center;
}


/** REASSURANCE **/
section.reassurance {
    padding: 3rem 2rem;
    display: flex;
    justify-content: center;
}
.reassurance-top {
  background-color: hsla(0,0%,0%, .1);
}
.reassurance-item {
  flex: 1 1 250px;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: var(--title);
  font-size: var(--text-XL);
  line-height: 1.2;
  text-align: center;
}
.reassurance-item:nth-child(2) {
  margin: 0 1.5rem;
}
.reassurance svg {
	width:4em;
  margin-bottom: 1em;
	fill:currentColor;
}


/** STORES **/
h1 + section.stores {
  padding: 2.5rem 0;
}
section.stores {
  padding: 5rem 0;
}
.stores [class^="wrapper"] {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center; 
}
.stores .stores-content {
  display: flex;
  align-items: center;
}
.stores img.stores-demo {
  max-width: 100%;
}
.stores p {
    margin: 0 0 0 1em;

    font-family: 'Roboto Condensed', sans-serif;
    font-size: 2em;
    font-weight: bold;
    line-height: 1.2;
}
.stores .badges {
    margin-right: 3em;
}
.stores .badges a {
  display: block;
}
.stores .badges a img {
    height: 80px;
    width: auto;
    margin: 8px 0;
}
.stores .badges a:first-child img {
    margin-left: 40px;
}


/** MAP **/
section.map > [class^="wrapper"] {
  display: flex;
}
.map .wrapper-form {
  margin-right: 24px;
  display: flex;
  flex-direction: column;
  font-size: var(--text-2XL);
}
form.form-map {
  margin: auto 0
}
.map .wrapper-form p {
  line-height: 1.3;
}
form.form-map label {
  display: block;
  text-align: center;
}
form.form-map .wrapper-input {
  width: 100%;
  display: flex;
  margin-bottom: 1rem;
}
.map form.form-map input[type="search"] {
  border: none;
  margin:0;
  padding: .25em .5em;
  flex: 1 1 auto;
  min-width: 100px!important;

  border: 1px solid var(--gray-600);
  border-top-left-radius:4px;
  border-bottom-left-radius:4px;
  border-right: 0;
}
.map form.form-map input[type="search"]:focus, .map form.form-map input[type="search"]:valid {
  outline: none;
  border-color: var(--blue-600);
  color: var(--blue-600);
}
.map form.form-map input[type="search"]:-moz-ui-invalid {
  color: var(--red-600);
}

.map form.form-map button {
  margin:0;
  padding: 0;
  background-color: black;
  border: 1px solid rgba(0, 0, 0, .2);
  color: white;

  border-top-right-radius:4px;
  border-bottom-right-radius:4px;

  transition: all .3s ease-in-out;
}
.map form.form-map button:focus, .map form.form-map button:hover {
  background-color: var(--blue-600);
  box-shadow: 0 0 12px var(--blue-600);
}

.map form.form-map button span {
  display: none;
}
.map form.form-map button svg {
  width: 46px;
  fill: currentColor;
  vertical-align: middle;
}

section.map .iframe-wrapper {
  position: relative;
  flex: 1 0 520px;
  width: 520px;
  height: 0;
  padding-bottom: 310px;
}
section.map .iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}




section.map div.gutter {
  width: 24px;
}


/** PRESS-REVIEW **/
section.press-review {
  background-color: white;
}
.press-review ul {
    padding: 0 32px;
    padding: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}
.press-review ul li {
  margin: 8px 16px;
}
.press-review ul li a {
  display: block;
}
.press-review img {
  max-height: 60px;
  width: auto;
}


/** TESTIMONIALS **/
section.testimonials {
  margin: 0;
  padding: 2.5rem 0;
  background-color: hsla(0,0%,0%, .1);
}
.testimonials > div {
  display: flex;
}
.testimonials blockquote {
  padding: 0 36px;
  text-align: center;
}
.testimonials blockquote q {
  quotes: "«\00A0" "\00A0»" "-\00A0" "\00A0-"
}
.testimonials blockquote footer {
  font-size: .9em;
}

/** MESSENGER **/
aside.messenger {
  position: fixed;
  bottom: 20px;
  z-index: 100;
  color: var(--blue-600);
  font-size: 6rem;
}
aside.messenger .tooltip {
  position: relative;
  width: 310px;
  margin: 0 1em;
  padding: .75em 1.7em .75em .75em;
  border-radius: 4px;
  color: white;
  font-size: 1rem;
  line-height: 1.3;
  background-color: var(--gray-800);

  display: none; /* Masqué par défaut */
}
aside.messenger .tooltip::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 24px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid var(--gray-800);
}
aside.messenger .tooltip span {
  position: absolute;
  top: 0;
  right: 0;
  background-color: var(--gray-600);
  border-radius: 4px;
  width: 24px;
  height: 24px;
}
aside.messenger .tooltip span:hover {
  cursor: pointer;
}
aside.messenger .tooltip span svg {
  margin: 0;
  padding: 0;
  width: 24px;
  height: auto;
  fill:white;
}

aside.messenger > a {
  display: block;
  width: 1em;
  height: 1em;
  margin-top: 2px;
  transition: all .3s ease-in-out;
}
aside.messenger > a:hover {
  opacity: .75;
}
aside.messenger > a svg  {
  display: block;
  width:1em;
  height:1em;
  fill: url(#messenger-gardient);
}


/** Slider SLICK JS **/
.slick-prev, .slick-next {
  top: 0;
  bottom: 0;
  width: auto;
  height: auto;
  transform: translate(0,0);
  
  display: flex;
  flex-direction: column;
  justify-content: center;

  background:white;
  color: var(--gray-900);
  z-index: 10;
}
.slick-prev:hover, .slick-next:hover {
  background:white;
  color: var(--gray-900);
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-prev::before, .slick-next::before {
  font-size: 28px;
  opacity: 1;
  color: inherit;
}
.slick-prev::before {
  content:'<';
}
.slick-next::before {
  content:'>';
}


@media screen and (max-width: 1080px) {
  .stores .stores-content {
    flex-direction: column;
    align-items: center;
  }
  .stores p {
    margin: 1em auto;
    width: 80%;
    font-size: 3vw;
    text-align: center;
  }
  .stores .badges {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 1em 0;
  }
  .stores .badges a {
    flex: 1 1 45%;
    max-width: 45%;
  }
  .stores .badges a img {
    height: auto;
    width: auto;
    max-width: 100%;
  }
  .stores .badges a:first-child img {
      margin-left: 0;
  }
}

@media screen and (max-width: 960px) {
  section.map > [class^="wrapper"] {
    display: block;
  }
  .map .wrapper-form {
    margin: 0 auto;
    width: 100%;
    max-width: 720px;
  }
  section.map > div > .iframe-wrapper {
    width: 100%;
    padding-bottom: 56.25%;
  }
}

@media screen and (max-width: 800px) {
  p.intro {
    padding: 2em;
    font-size: var(--text-XL);
  }
  .testimonials > div {
    display: block;
  }
  .testimonials blockquote {
    padding: 0 18px;
    margin-bottom: 2rem;
    text-align: left;
  }
  .testimonials blockquote:last-child {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 640px) {
  p.intro {
    font-size: var(--text-M);
    padding: 1rem;
  }
  section.stores {
    padding: 1rem 0;
  }
  .stores [class^="wrapper"] {
    display: block;
  }
  .stores .stores-content {
    display: block;
  }
  .stores img.stores-demo {
    width: 100%;
    height: auto;
  }
  .stores p {
    width: auto;
    margin: 0 1em 1em 1em;
    font-size: 6vw;
  }
  .map .wrapper-form {
    font-size: var(--text-L);
  }
 

  /** REASSURANCE **/
  section.reassurance {
    padding: 1rem 12px;
    display: block;
  }
  .reassurance br {
    display: none;
  }
  .reassurance-top {
    background-color: inherit;
  }
  .reassurance-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;

    font-size: var(--text-M);
    text-align: left;
  }
  .reassurance-item:not(:last-child) {
    border-bottom: 2px solid var(--gray-400);
  }
  .reassurance-text {
    padding: .5em .75em .5em .5em;
  }
  .reassurance-item:nth-child(2) {
    margin: 0;
  }
  .reassurance svg {
    width:60px;
    margin:10px;
    fill:black;
    display: block;
  }
}